---
import { Image } from 'astro:assets';
import reviewImage1 from '../../assets/images/landing/reviews/1.webp';

const quoteBlocks = [
    {
        image: reviewImage1,
        title: 'Теперь я могу всё!',
        subtitle: 'Отзыв мастера Александры Андреевой, г. Санкт-Петербург',
        text: '«И вновь повышение, новые знания, новая для меня, но очень желанная информация и именно по этой методике. Еще одна корректирующая система освоена, я влюблена! UniBrace — ВАН ЛАВ! Очень изящна, деликатно работает, справляется с любым, даже очень сложным случаем деформации ногтевых пластин. Да! Теперь я могу все! И даже с самыми сложными случаями я справлюсь, еще быстрее и конечно все так же БЕЗБОЛЕЗНЕННО.»',
    },
];
---

<section class="section">
    <div class="container">
        <div class="mx-auto max-w-[1000px] rounded-2xl border border-zinc-300 bg-white overflow-hidden">
            <div class="space-y-6">
                {quoteBlocks.map((quote) => (
                    <div class="grid grid-cols-1 md:grid-cols-[360px_1fr] items-stretch">
                        <Image
                            class="w-full h-full object-cover md:rounded-none"
                            src={quote.image}
                            alt={quote.subtitle}
                            loading="lazy"
                        />
                        <div class="space-y-3 p-5 md:p-8">
                            <h3 class="text-2xl font-bold leading-tight text-zinc-900 mb-1 md:text-4xl">
                                {quote.title}
                            </h3>
                            <p class="text-sm text-zinc-500 md:text-base">{quote.subtitle}</p>
                            <p class="text-base leading-relaxed text-zinc-700 md:text-lg">{quote.text}</p>
                        </div>
                    </div>
                ))}
            </div>
        </div>
    </div>
</section>
