---
import LogoCompany from './LogoCompany.astro';
import SocialLinks from './SocialLinks.astro';
import MobileMenu from './MobileMenu.astro';
import iconCart from '../../assets/icons/icon-cart.svg?raw';

const topNavItems = [
    { href: '#', text: 'О компании' },
    { href: '#', text: 'Акции' },
    { href: '#', text: 'Мастерам' },
    { href: '#', text: 'Доставка и оплата' },
    { href: '#', text: 'Статьи' },
    { href: 'contacts', text: 'Контакты' },
];

const catalogMenuItems = [
    { href: '/katalog', text: 'Все' },
    { href: '/professionalnaya-kosmetika-arkada', text: 'Косметика Arkada' },
    { href: '/instrumenty-arkada', text: 'Инструменты Arkada' },
    { href: '/lechebnaya-kosmetika', text: 'Косметика SUDA' },
    { href: '/domashnij-ukhod', text: 'Домашний уход и профилактика' },
    { href: '/instrumenty', text: 'Инструменты' },
    { href: '/fiksiruyushchie-materialy', text: 'Фиксирующие материалы' },
    { href: '/brace', text: "Arkada's Brace-M" },
    { href: '/arkadascube', text: "Arkada's Cube" },
    { href: '/nail-insert-system', text: 'Nail Insert System' },
    { href: '/prof-oborudovanie', text: 'Профессиональное оборудование' },
];

const mainNavItems = [
    { href: '#', text: 'Профессиональная косметика' },
    { href: '#', text: 'Домашний уход и профилактика' },
    { href: '#', text: 'Косметика SUDA' },
    { href: '#', text: 'Инструменты' },
    { href: '#', text: 'Эксклюзивные' },
];
---
<header class="page-header">
    <div class="page-header__top bg-gray-800 text-gray-200 text-md">
        <div class="container">
            <div class="page-header__top-inner">
                <div class="page-header__top-text text-sm">Официальный магазин профессиональной косметики AArkada</div>
                <nav class="page-header__nav top-nav">
                    <ul class="top-nav__list flex gap-1 list">
                        {topNavItems.map(item => (
                            <li class="top-nav__item">
                                <a href={item.href} class="top-nav__link link">{item.text}</a>
                            </li>
                        ))}
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    <div class="page-header__main py-2 lg:py-4">
        <div class="container">
            <div class="page-header__main-inner">

                <LogoCompany class="page-header__logo" />

                <div class="page-header__search">
                    <form class="form">
                        <input class="input">
                        <button class="page-header__btn-search btn-reset" type="button">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><rect width="24" height="24" fill="none"/><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" d="m21 21l-4.343-4.343m0 0A8 8 0 1 0 5.343 5.343a8 8 0 0 0 11.314 11.314" stroke-width="1"/></svg>
                        </button>
                    </form>
                </div>

                <div class="page-header__contacts">
                    <div class="page-header__social">
                        <SocialLinks />
                    </div>
                    <div class="page-header__phone">
                        <a class="link" href="tel:79932066368">+7 (993) 206-63-68</a>
                    </div>
                </div>


                <div class="page-header__actions">

                    <div class="page-header__cart minicart">
                        <a href="/cart" class="minicart__link link">
                                <span class="minicart__icon">
                                    <Fragment set:html={iconCart} />
                                    <span class="minicart__total">
                                        <span class="minicart__badge">1</span>
                                    </span>
                                </span>
                            </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="page-header__bottom">
        <div class="container">
            <nav class="page-header__nav main-nav">
                <ul class="main-nav__items list">
                    <li class="main-nav__item main-nav__item--catalog">
                        <a href="/katalog" class="main-nav__catalog-trigger main-nav__link link" aria-label="Каталог">
                            Каталог
                            <svg class="icon-chevron-down" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none"><path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m5 7.5 5 5 5-5"></path></svg>
                        </a>
                        <div class="main-nav__catalog-dropdown">
                            <ul class="main-nav__catalog-list list" role="menu" aria-label="Каталог">
                                {catalogMenuItems.map((item) => (
                                    <li class="main-nav__catalog-list-item" role="none">
                                        <a
                                            href={item.href}
                                            class="main-nav__catalog-link link"
                                            role="menuitem"
                                        >
                                            {item.text}
                                        </a>
                                    </li>
                                ))}
                            </ul>
                        </div>
                    </li>

                    {mainNavItems.map((item) => (
                        <li class="main-nav__item">
                            <a href={item.href} class="main-nav__link link">{item.text}</a>
                        </li>
                    ))}
                </ul>
            </nav>
        </div>
    </div>
</header>
<MobileMenu
        topNavItems={topNavItems}
        catalogMenuItems={catalogMenuItems}
        mainNavItems={mainNavItems}
/>